<!-- Banners -->
<section class="inner-pages text-center">
  <div class="container">
    <div class="white_text div_zindex">
      <h1 class="page_title">Event Industry Latest Updates</h1>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- /Banners -->


<!-- Our Articles -->
<section class="our_articles">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% for post in paginator.posts %}
        <!-- article -->
        {% if post.video != null %}
          <article class="blog_wrap view_one video_post">
        {% endif %}
        {% if post.blockquote != null %}
          <article class="blog_wrap view_one quote_post">
        {% else %}
          <article class="blog_wrap view_one">
        {% endif %}
          <div class="blog_img margin-btm-20">
            {% if post.img != null %}
              <a href="{{ post.img }}"><img src="{{post.img}}" alt="image"></a>
            {% endif %}

            {% if post.video != null %}
              <iframe class="mfp-iframe" src="{{post.video}}" allowfullscreen></iframe>
            {% endif %}

            {% if post.blockquote != null %}
            <blockquote>
              <p><i class="fa fa-quote-left"></i>{{post.blockquote}}<i class="fa fa-quote-right"></i></p>
            </blockquote>
            {% endif %}
          </div>
          <div class="blog_meta">
            <p>Posted on {{ post.date | date_to_string }}</p>
          </div>
          <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p>
            {% assign wordCount = post.content | strip_html | number_of_words %}
            {{ post.content | strip_html | truncatewords: 30 }} <a class="read-more-link" href="{{ post.url | prepend: site.baseurl }}">{% if wordCount >= 30 %} <span>Continue Reading <i class="fa fa-arrow-right" aria-hidden="true"></i></span> {% endif %} </a>
          </p>
        </article>
        {% endfor %}

        <!-- pagination -->


        {% if paginator.total_pages > 1 %}
        <ul class="pagination pagination-lg">

          {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
              <li {% if page.url == trail.path %} class="page-item active" {% else %} class="page-item" {% endif %}>
                  <a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
              </li>
            {% endfor %}
          {% endif %}

        </ul>
        {% endif %}

        <!-- /pagination -->
      </div>

      <!-- Sidebar -->
      <aside class="col-md-4">
        <div class="sidebar_wrap leftsidebar">
          <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-search" aria-hidden="true"></i> Search Posts</h6>
            </div>
            <div class="search_post">
              <form action="" method="get">
                <div class="form-group">
                  <input type="text" id="search-input" class="form-control" placeholder="Search...">
                  <ul id="results-container"></ul>
                </div>
              </form>
            </div>
          </div>

          <!-- <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Popular Posts</h6>
            </div>
            <div class="popular_post">
              <ul class="list-style-none">
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Get Started In Event Planning</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">The Standard chunk of Lorem Ipsum </a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->

          <!-- <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Categories</h6>
            </div>
            <div class="blog_categories">
              <ul class="list-style-none">
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Marketing</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Planning</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Family Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </aside>

    </div>
  </div>
</section>
<!-- Our Articles -->
