<!-- Banners -->
<section class="inner-pages text-center">
  <div class="container">
    <div class="white_text div_zindex">
      <h1 class="page_title">Event Industry Latest Updates</h1>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- /Banners -->


<!-- Our Articles -->
<section class="our_articles">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- article-1 -->
        <article class="blog_wrap view_one">
          <div class="blog_img margin-btm-20">
            <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
          </div>
          <div class="blog_meta">
            <p>Posted on October 30, 2016</p>
          </div>
          <h3><a href="#">The Standard chunk of Lorem Ipsum used since</a></h3>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.</p>
        </article>

        <!-- article-2 -->
        <article class="blog_wrap view_one video_post">
          <div class="blog_img margin-btm-20">
            <iframe class="mfp-iframe" src="https://www.youtube.com/embed/rqSoXtKMU3Q" allowfullscreen></iframe>
          </div>
          <div class="blog_meta">
            <p>Posted on October 30, 2016</p>
          </div>
          <h3><a href="#">The Standard chunk of Lorem Ipsum used since</a></h3>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.</p>
        </article>

        <!-- article-3 -->
        <article class="blog_wrap view_one quote_post">
          <div class="blog_img margin-btm-20">
            <blockquote>
              <p><i class="fa fa-quote-left"></i> Pork loin leberkas ribeye capicola. Ribeye meatloaf sirloin shank, turkey pork loin salami. Flank strip steak shankle drumstick kevin rump tail chickeRibeye meatloaf sirloin shank. <i class="fa fa-quote-right"></i></p>
            </blockquote>
          </div>
          <div class="blog_meta">
            <p>Posted on October 30, 2016</p>
          </div>
          <h3><a href="#">The Standard chunk of Lorem Ipsum used since</a></h3>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
            mollitia animi, id est laborum et dolorum fuga.</p>
        </article>

        <!-- pagination -->
        <ul class="pagination pagination-lg">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
        </ul>
        <!-- /pagination -->
      </div>

      <!-- Sidebar -->
      <aside class="col-md-4">
        <div class="sidebar_wrap leftsidebar">
          <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-search" aria-hidden="true"></i> Search Posts</h6>
            </div>
            <div class="search_post">
              <form action="" method="get">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </form>
            </div>
          </div>

          <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Popular Posts</h6>
            </div>
            <div class="popular_post">
              <ul class="list-style-none">
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Get Started In Event Planning</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">The Standard chunk of Lorem Ipsum </a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Categories</h6>
            </div>
            <div class="blog_categories">
              <ul class="list-style-none">
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Marketing</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Planning</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Family Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
              </ul>
            </div>
          </div>
        </div>
      </aside>

    </div>
  </div>
</section>
<!-- Our Articles -->
