<header class="nav-stacked" data-spy="affix" data-offset-top="15">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <div class="logo">
          <a href="/"><img src="http://cvlassets.s3.amazonaws.com/Slice%204-4.png" height="60px">  </a></div>
      </div>
      <div class="col-sm-9 col-md-10">
        <!-- Navigation -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li><a href="/#home" class="js-target-scroll">Home</a></li>
              <li><a href="/#about" class="js-target-scroll">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/#schedule" class="js-target-scroll">Schedule</a></li>
              <li><a href="/#our_speakers" class="js-target-scroll">Judges</a></li>
              <li><a href="/#faq" class="js-target-scroll">FAQ</a></li>
              <li><a href="/#sponsors" class="js-target-scroll">Sponsors</a></li>
            </ul>
          </div>
        </nav>
        <!-- Navigation end -->
      </div>
    </div>
  </div>
</header>
