---
layout: page
---
<!-- Banners -->
<section class="inner-pages text-center">
  <div class="container">
    <div class="white_text div_zindex">
      <h1 class="page_title">Event Industry Latest Updates</h1>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- /Banners -->


<!-- Our Articles -->
<section class="our_articles single_article">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- article-1 -->
        <article class="blog_wrap view_one">
          <div class="blog_meta">
            <p>Posted on <strong>{{ page.date | date: "%B %-d, %Y" }}</strong></p>
            <div class="inline-div btn-group-xs categories_in">
              <a href="#" class="btn btn-xs">Special Events</a>
              <a href="#" class="btn btn-xs">Trends</a>
              <a href="#" class="btn btn-xs">Events</a>
            </div>
          </div>
          <h3>{{ page.title }}</h3>
          <div class="blog_img margin-btm-20">
            {% if page.img != null %}
              <a href="{{ page.img }}"><img src="{{page.img}}" alt="post image"></a>
            {% endif %}

            {% if page.video != null %}
              <iframe class="mfp-iframe" src="{{page.video}}" allowfullscreen></iframe>
            {% endif %}

            {% if page.blockquote != null %}
            <blockquote>
              <p><i class="fa fa-quote-left"></i>{{page.blockquote}}<i class="fa fa-quote-right"></i></p>
            </blockquote>
            {% endif %}
          </div>

          {{ content }}

          <div class="article_tag gray-bg">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <h6>Tags:</h6>
                <div class="tag_list btn-group-xs">
                  <a href="#" class="btn btn-xs">Special Events</a>
                  <a href="#" class="btn btn-xs">Trends</a>
                  <a href="#" class="btn btn-xs">Events</a>
                </div>
              </div>
            </div>
          </div>

        </article>

        <!--Comments-->
        <div class="articale_comments">
          {% if page.comments %}
          <div id="comments">
            <ul class="commentlist">
              <div id="disqus_thread"></div>
              <script>

              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://hackforsavannah.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </ul>
          </div>
          {% endif %}

        </div>
      </div>


      <!-- Sidebar -->
      <aside class="col-md-4">
        <div class="sidebar_wrap">
          <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-search" aria-hidden="true"></i> Search Posts</h6>
            </div>
            <div class="search_post">
              <form action="" method="get">
                <div class="form-group">
                  <input type="text" id="search-input" class="form-control" placeholder="Search...">
                  <ul id="results-container"></ul>
                </div>
              </form>
            </div>
          </div>

          <!-- <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Popular Posts</h6>
            </div>
            <div class="popular_post">
              <ul class="list-style-none">
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Get Started In Event Planning</a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">The Standard chunk of Lorem Ipsum </a></h6>
                  </div>
                </li>
                <li>
                  <div class="widget_post_img">
                    <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
                  </div>
                  <div class="widget_post_info">
                    <h6><a href="#">How To Build Your Event Brand</a></h6>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->

          <!-- <div class="sidebar_widgets">
            <div class="widget_title white_text secondary-bg">
              <h6><i class="fa fa-file-text-o" aria-hidden="true"></i> Categories</h6>
            </div>
            <div class="blog_categories">
              <ul class="list-style-none">
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Marketing</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Event Planning</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Family Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Special Events</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Unique Venues</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Fresh Event Tips</a></li>
              </ul>
            </div>
          </div> -->

          
        </div>
      </aside>

    </div>
  </div>
</section>
<!-- Our Articles -->
